body {
    font-family: "Heletica Neue", Helvetica, sans-serif;
    font-size: 13px;
}

#languages {
    list-style: none;
}

#languages li {
    width: 180px;
    float: left;
    text-align: center;
    padding: 0.5em 0;
    margin: 0.25em;
    font-weight: bold;
    border-bottom: 12px solid #ccc;
    white-space: nowrap;
    text-overflow: ellipsis;
}